[submodule "extras"]
	path = extras
	url = git://github.com/kanzure/pokemon-reverse-engineering-tools.git
[submodule "hangul/code"]
	path = hangul/code
	url = https://github.com/009342/Pokemon-Hangul-Code
